.MuiBottomNavigation-root .MainNavBar-action
{
    color: white;
}

.App .MuiBottomNavigation-root .MuiBottomNavigationAction-root.active
{
    color: coral;
}

.MuiBottomNavigation-root .MuiBottomNavigationAction-root.Mui-selected
{
    color: white;
}