.App
{
  height: 100vh;
  background-color: rgb(20, 20, 20);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}

.App .App-content-container
{
  position: absolute;
  top: 5%;
  height: 83%;
  overflow: hidden;
  max-width: 100%;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}