.Trending
{
    width: 100%;
    overflow: hidden;
    height: 100%
}

.Trending-content-container
{
    width: 100%;
    overflow-y: auto;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}